*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn-success{
    background-color: #4CAF4F !important;
    border-color: #4CAF4F !important;;
}
.special-text-deep{
    color: #4CAF4F !important;;
}
.bg-body-tertiary{
    background-color: #F5F7FA !important;
    
}
.p-text{
    color: #717171 !important;
}
.section-padding{
    padding: 48px 60px;
    margin: 50px 0;
}
.bg-ash{
    background-color: #717171;
}
/* banner section  */
.banner{
    padding: 98px 60px !important;
}
.flex-shrink-1 {
    flex-shrink: 1.2!important;
}
/* our client  */
.icon-size{
    max-width: 45px !important;
}
/* caring  */
.card-bg{
    background-color:#F5F7FA;

}
.mb-6{
    margin-bottom: 7rem !important;
}
.fs-0{
    font-size: 50px;
}
.form-control::placeholder { 
    color: rgb(176, 171, 171) !important;
    opacity: 1; 
}
@media (max-width:740px) {
    .card{
        width: 100% !important;
    }
    .w-sm{
        width: 35%;
    }
    .h-sm-75{
        height: 90% !important;
    }
}